* {
  margin: 0;
  padding: 30px 0;
  font-family: Tahoma;
  text-align: center;
}

span { font-weight: bold; }

/* ===== SEÇÃO 1 ===== */
.secao1 { background-color: #afddfb; }

.secao1 img { width: 150px; }

.secao1 p {
  margin: 15px auto 25px;
  width: 700px;
}

.secao1 a {
  font-size: 18px;
  color: #1d1d1d;
  border-bottom: 2px solid #1d1d1d;
  text-decoration: none;
  margin: 0 10px;
}

/* ===== SEÇÃO 2 ===== */
.secao2 {
  margin-top: 50px;
  padding: 0;
}

/* ===== SEÇÕES 3 e 5 ===== */
.secao3 h1 {
  color: #1d1d1d;
  margin-bottom: 5px;
}

.secao3 h2, .secao5 h2 {
  color: #1c81c0;
  font-size: 28px;
  font-weight: 42px;
}

.secao3 img,.secao5 img { 
    width: 450px; 
}

.secao3 span,.secao5 span { 
    color: #1d80c1; 
}

.secao3 p,.secao5 p {
  width: 1000px;
  margin: 0 auto;
  text-align: justify;
}

/* ===== SEÇÕES 4 e 6 ===== */
.secao4,.secao6 {
    background-color: #1d80c1; }

.secao4 h2, .secao6 h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 42px;
}

.secao4 span, .secao6 span {
    color: #fff81b; 
}

/* SEÇÃO 4 */
.secao4 p {
  color: #fff;
  font-size: 22px;
  line-height: 42px;
  width: 700px;
  margin: 0 auto;
}

.secao4 ul {
  width: 135px;
  margin: 40px auto;
  padding: 0;
}

.secao4 li {
  color: #fff;
  font-size: 22px;
  line-height: 42px;
  text-align: left;
}

/* SEÇÃO 6 */
.secao6 p {
  color: #fff;
  background-color: #1d1d1d;
  padding: 15px;
  width: 1000px;
  margin: 30px auto;
}

.secao6 ul {
  width: 210px;
  margin: 40px auto;
  list-style: none;
  padding: 0;
}

.secao6 li {
  margin-top: 15px;
  font-size: 18px;
}

.secao6 a {
  background-color: #fff;
  color: #1d80c1;
  padding: 2px 5px;
  border-radius: 5px;
}